<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
	<div class="row">
		<!-- Send to server mode -->
		<div class="btn-group">
			<button id="modeKey" ng-class="{isEvtOnChangeActivate: active}"
				type="button" ng-click="modeAdocOnChange(false)"
				class="btn btn-default" ng-model="radioModel" btn-radio="'onCtrlS'"
				title="Asciidoc source will be sent only on Ctrl+S command">Send
				on Ctrl+S</button>
			<button id="modeChange" ng-class="{isEvtOnChangeActivate: active}"
				type="button" ng-click="modeAdocOnChange(true)" ng-model="radioModel" btn-radio="'onChange'"
				class="btn btn-default">Send on Change</button>
				
			<!-- Patch feature -->
			<button type="button" ng-click="computeDiff(rceAdoc.key)"
				class="btn btn-default">Compute Diff</button>
			<button type="button" ng-click="applyPatch(rceAdoc.key)"
				class="btn btn-default">Apply Patch</button>
		</div>
	</div>
	<div class="row" ui-ace="{
	  onLoad: aceLoaded,
	  onChange: aceChanged,
	  mode: 'asciidoc',
	  theme: 'terminal'
	}">
	</div>
</div>