<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="panel panel-default recipients">
		<div class="panel-heading">
		<button ng-show="theDoc.status == 'CONNECTED'"
				class="navbar-btn btn-danger btn-xs"
				ng-click="disconnect(theDoc.key)" title="Exit from this space (ID:{{adSpaceID}})">
				<span class="glyphicon glyphicon-off"></span>
			</button> 
			<span ng-show="theDoc.status == 'CONNECTED'"> | </span>
			<span class="label label-danger"
				ng-show="theDoc.status == 'DISCONNECTED'"> <span
				title="Offline" class="glyphicon glyphicon-exclamation-sign"></span>
				<strong>OFFLINE.</strong></span> <span class="label label-success"
				ng-show="theDoc.status == 'CONNECTED'"><strong>ONLINE.</strong>
			</span>  | 
		Realtime Collaborative Editor for Asciidoctor | v0.1-alpha2 | 
			 <span ng-show="theDoc.status == 'CONNECTED'">
				<span title="Number of writer" class="glyphicon glyphicon-user"></span>
					<em>Online writers :</em> <span title="Number of writers"
						class="badge badge">{{theDoc.notification.nbWriters}}</span>
						 | 
				 <span
						title="Number of readers" class="glyphicon glyphicon-eye-open"></span>
					<em>Online readers :</em> <span title="Number of viewer"
						class="badge">{{theDoc.notification.nbConnected}}</span>
			</span>
			<span ng-show="theDoc.status == 'CONNECTED'"> | <em>Signed as {{user}}</em></span>
			<span ng-show="theDoc.status == 'CONNECTED'">  |  <em>Space ID : {{adSpaceID}}</em></span>
		</div>

		<div class="panel-body">
			<div class="recipient current-user" title="Signed as" ng-repeat="writer in theDoc.notification.writers">
				<img ng-show="theDoc.author != writer " src="http://placehold.it/50/55C1E7/fff&amp;text=W" alt="User Avatar" class="img-square"> 
				<img ng-show="theDoc.author == writer " src="http://placehold.it/50/FA6F57/fff&amp;text=ME" alt="User Avatar" class="img-circle"> 
				{{writer}} 
				<div class="email">writer</div>
			</div>
			<div class="recipient messages" title="Messages">
				<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{theDoc.state}}</alert>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="panel-footer">
			<div class="row" style="height:17px;">
				<div class="col-sm-6">
					<!-- Send to server mode -->
					<div class="btn-group">
						<button id="modeKey" ng-class="{isEvtOnChangeActivate: active}"
							type="button" ng-click="modeAdocOnChange(false)"
							class="btn btn-xs btn-default" ng-model="radioModel" btn-radio="'onCtrlS'"
							title="Asciidoc source will be sent only on Ctrl+R command">Render
							on Alt+R</button>
						<button id="modeChange" ng-class="{isEvtOnChangeActivate: active}"
							type="button" ng-click="modeAdocOnChange(true)" ng-model="radioModel" btn-radio="'onChange'"
							class="btn btn-xs btn-default">Render on Change</button>
							
						<!-- Patch feature -->
						<button type="button" id="diff" ng-click="computeDiff(rceAdoc.key)"
							class="btn btn-xs btn-default">Compute Diff</button>
						<button type="button" id="patch" ng-click="applyPatch(rceAdoc.key)"
							class="btn btn-xs btn-default">Apply Patch</button>
							
						<!-- Save offline feature -->
						<button type="button" ng-click="saveOnDisk(rceAdoc.key)"
							class="btn btn-xs btn-default">Save on disk</button>
						<button type="button" ng-click="loadFromDisk(rceAdoc.key)"
							class="btn btn-xs btn-default">Load from disk</button>
					</div>
				</div>
				<div class="col-sm-5" ng-show="theDoc.status == 'CONNECTED'" >
						<button type="button" ng-click="toggleRenderFullscreen()" title="FullScreen mode for HTML5 preview"
							class="btn btn-xs btn-default"><span class="glyphicon glyphicon-fullscreen"></span></button>
						<button ng-click="loadLastAdoc(theDoc.key)" type="button" title="Load the last Asciidoc source for the HTML5 rendered below"
							class="btn btn-xs" title="Source code">
							<span class="glyphicon glyphicon-download-alt" ></span>
						</button>
						<span class="label label-warning">
							<span title="Time to render HTML5" class="glyphicon glyphicon-cog"></span> {{theDoc.html5.timeToRender}} ms</span>
						<img title="Last author" ng-show="theDoc.author != theDoc.html5.currentWriter " src="http://placehold.it/20/55C1E7/fff&amp;text=W" alt="User Avatar" class="img-square"> 
						<img title="Last author" ng-show="theDoc.author == theDoc.html5.currentWriter " src="http://placehold.it/20/FA6F57/fff&amp;text=ME" alt="User Avatar" class="img-circle"> 
						<em> {{theDoc.html5.currentWriter}} </em>
				</div>
				<div class="col-sm-1" ng-show="theDoc.status == 'CONNECTED'">
					<progressbar max="max" value="dynamic" type="success"> <span
						style="color: black; white-space: nowrap;">{{dynamic}} /
						{{max}}</span> </progressbar>
				</div>
			</div>
		</div>
	</div>
</nav>