<nav class="navbar navbar-default navbar-fixed-top" role="navigation" >
	<div class="panel panel-default recipients">
		<div class="panel-heading">
		<button ng-show="theDoc.status == 'CONNECTED'"
				class="navbar-btn btn-danger btn-xs"
				ng-click="disconnect(theDoc.key)" title="Exit from this space (ID:{{adSpaceID}})">
				<span class="glyphicon glyphicon-off"></span>
			</button> 
			<span ng-show="theDoc.status == 'CONNECTED'"> | </span>
			<span class="label label-danger"
				ng-show="theDoc.status == 'DISCONNECTED'"> <span
				title="Offline" class="glyphicon glyphicon-exclamation-sign"></span>
				<strong>OFFLINE.</strong></span> <a href="#" ng-show="theDoc.status == 'DISCONNECTED'" ng-click="showAuth()">- Connect -</a> <span class="label label-success"
				ng-show="theDoc.status == 'CONNECTED'"><strong>ONLINE.</strong>
			</span>  | 
		Realtime Collaborative Editor for Asciidoctor | v0.1-alpha3 | <a href="https://github.com/mgreau/when-websocket-met-asciidoctor" target="_blank">View Project on GitHub</a> |
			 <span ng-show="theDoc.status == 'CONNECTED'">
				<span title="Number of writer" class="glyphicon glyphicon-user"></span>
					<em>Online writers :</em> <span title="Number of writers"
						class="badge badge">{{theDoc.notification.nbWriters}}</span>
						 | 
				 <span
						title="Number of readers" class="glyphicon glyphicon-eye-open"></span>
					<em>Online readers :</em> <span title="Number of viewer"
						class="badge">{{theDoc.notification.nbConnected}}</span>
			</span>
			<span ng-show="theDoc.status == 'CONNECTED'"> | <em>Signed as {{user}}</em></span>
			<span ng-show="theDoc.status == 'CONNECTED'">  |  <em>Space ID : {{adSpaceID}}</em></span>
		</div>

		<div class="panel-body">
			<div class="recipient current-user" title="Signed as" ng-repeat="writer in theDoc.notification.writers">
				<img ng-show="theDoc.author != writer " src="http://placehold.it/50/55C1E7/fff&amp;text=W" alt="User Avatar" class="img-square"> 
				<img ng-show="theDoc.author == writer " src="http://placehold.it/50/FA6F57/fff&amp;text=ME" alt="User Avatar" class="img-circle"> 
				{{writer}} 
				<div class="email">writer</div>
			</div>
			<div class="recipient messages" title="Messages">
				<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{theDoc.state}}</alert>
			</div>
			<div class="clearfix"></div>
		</div>
		</div>
</nav>
