body {
	padding-top: 170px;
}

.ace_editor {
	height: 800px;
}

.ace_content {
	background-color: black;
	color: white;
}

iframe {
	border: 1px solid black;
}
.container-fluid {
  padding: 0px 15px;
}

.recipients .panel-body {
    overflow: auto;
    max-height: 200px; 
}
.recipients .recipient {
    display: block;
    float: left;
    width: 140px;
    margin: 0 5px 5px 0;
    font-size: 0.85em;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap; 
}
.recipients .recipient img {
    float: left;
    height: 28px;
    margin-right: 5px; 
}
.recipients .recipient .email {
    font-size: 0.9em;
    color: #999;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap; 
}
.recipients .recipient .current-user {
    background-color: #CCC;
}

.panel {
	margin-bottom: 0px;
}

