body {
	padding-top: 150px;
}

.ace_editor {
	height: 800px;
}


iframe {
	border: 1px solid white;
}
.container-fluid {
  padding: 0px 15px;
}

/**
Fix Angular-ui
**/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/**
nav bar
**/
.navbar {
	margin-bottom: 0px;
	height: 142px;
	border-color: black;
}

.navbar-btn, .navbar-btn.btn-xs {
margin-top: 0px;
margin-bottom: 0px;
}

.alert{
	padding: 10px;
	margin-bottom:0px;
}

/** 
Users bar
**/
.recipients .panel-body {
    overflow: auto;
    max-height: 200px; 
    padding: 6px;
}
.recipients .recipient {
    display: block;
    float: left;
    width: 140px;
    margin: 0 5px 5px 0;
    font-size: 0.85em;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap; 
}
.recipients .recipient img {
    float: left;
    height: 28px;
    margin-right: 5px; 
}
.recipients .recipient .email {
    font-size: 0.9em;
    color: #999;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap; 
}
.recipients .recipient .current-user {
    background-color: #CCC;
}

.recipients .recipient.messages {
     width: 450px;
}

.panel {
	margin-bottom: 0px;
}

