<!DOCTYPE html>
<html>
<head>
<title>Real-time collaborative writing : When - Websocket met Asciidoctor - Wildfly 8 - OpenShit</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

<style type="text/css">
input {
	background-color: #e5E5E5;
	font: 11px;
}

#editor { 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
</style>

</head>
<body  ng-app="wWSmADapp" ng-controller="LiveWritingCtrl">
	<div class="container">
		<h2>Real-time collaborative writing : When WebSocket met Asciidoctor !! </h2>
		<p>
		<a href="https://github.com/mgreau/when-websocket-met-asciidoctor" target="github">Fork it on Github.</a>
		| by <a href="https://twitter.com/mgreau" target="twitter">@mgreau</a>
		| <a href="http://asciidoctor.org/" target="ad">Asciidoctor projet</a> 
		| <small><em>Id project : wWSmAD</em></small>
		</p>
		<div class="row" ng-repeat="lwDoc in lwDocs">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" >
				<div class="panel panel-primary">
					<div class="panel-heading">
						<em>Connection status : </em><span class="label label-info">{{lwDoc.status}}</span>&nbsp;&nbsp;
							<button class="btn btn-default active btn-xs" ng-show="lwDoc.status == 'CONNECTED'" ng-click="disconnect(lwDoc.key)" >
							<span class="glyphicon glyphicon-off"></span> Exit.</button>
					</div>
					<div class="panel-body">
					 	<div class="input-group" ng-show="lwDoc.status == 'CONNECTED'">
					      <span class="input-group-btn">
					        <button class="btn btn-default" type="button" ng-click="sendAdoc(lwDoc.key)">Generate HTML!</button>
					      </span>
					      <input type="text" required class="form-control" placeholder="Your name (as an author)" ng-model="lwDoc.author">
					    </div>
						<div class="alert alert-warning" ng-show="lwDoc.status == 'DISCONNECTED'">
						  <strong>Offline mode.</strong> Youd need <button class="btn btn-warning active btn-xs" ng-click="connect(lwDoc.key)" >
							<span class="glyphicon glyphicon-power"></span>click to connect</button> and access real-time writing.
						</div>
						<div class="alert alert-success" ng-show="lwDoc.status == 'CONNECTED'">
						  You are currently working on <strong>real-time writing mode</strong>.
						</div>
						<textarea style="font-size: 11px; background-color: #e5e5e5;" ng-model="lwDoc.adocSrc"
							 cols="100" rows="30" ng-change="sendAdoc(lwDoc.key)"></textarea>
						</div>
					<div class="panel-footer">
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" >
				<div class="panel panel-primary">
					<div class="panel-heading">
						<span class="label label-warning">{{lwDoc.state}}</span>
						 | Last author : <span class="label label-success">{{lwDoc.html5.currentWriter}}</span>
					</div>
					<div class="panel-body">
						<span title="Number of writer" class="glyphicon glyphicon-user"></span> 
						<em>Online writers :</em> <span title="Number of writers"  class="badge">{{lwDoc.notification.nbWriters}}</span> <br/>
							<span ng-repeat="writer in lwDoc.notification.writers" class="badge">{{writer}}</span>&nbsp;
						<hr/>
						<span title="Number of writer" class="glyphicon glyphicon-user"></span> 
						<em>Online readers :</em> <span title="Number of viewer"  class="badge">{{lwDoc.notification.nbConnected}}</span> <br/>
						<span title="Time to render HTML5" class="glyphicon glyphicon-cog"></span> 
						<em>HTML5 generated by Asciidoctor in : <span class="label label-danger">{{lwDoc.html5.timeToRender}} ms</span> </em>
						<iframe srcdoc="{{lwDoc.html5.output}}" width="100%" height="600px">
						</iframe>
					</div>
					<div class="panel-footer">
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="js/angular.min.js"></script>
	<script src="js/angular-resource.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/services.js"></script>
	<script src="js/controllers.js"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-43902707-1', 'wildfly-mgreau.rhcloud.com');
	  ga('send', 'pageview');
	
	</script>
</body>
</html>